<div class="container">
  <div class="messages">
    <div *ngFor="let message of messages" [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
      {{ message.text }}
    </div>
  </div>
  <div class="input-container">
    <textarea [(ngModel)]="inputText" (keydown.enter)="addUserMessage(inputText)" placeholder="Type your message..." class="form-control"></textarea>
    <button (click)="addUserMessage(inputText)" class="btn btn-primary">Send</button>
  </div>
</div>